* {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    font-family: 'Josefin Sans' !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}