.video-body {
  background: #0c0c0c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 1rem;
  position: relative;

  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.video-body:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
}

.video-row {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
}

.video-row video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-content {
  z-index: 3;
  height: calc(100vh - 80px);
  max-height: 100%;
  padding: 0rem calc((100vw - 1300px) / 2);
  display: flex;
  align-items: center;
}

.video-content > h1 {
  font-size: 100px;
  color: #fff;
}

@media screen and (max-width: 275px) {
  .video-content h1 {
    font-size: 80px;
    white-space: nowrap;
  }
}
